/* Header Section */
header {
  background-color: rgb(86, 43, 129);
}

.header-colors {
  background: rgb(86, 43, 129);
  color: white;
}

.header-positioning {
  margin: 0;
  justify-content: flex-start;
  align-items: baseline;
}

.header-main {
  font-size: 0.9rem;
  font-weight: 200;
}

.header-sub {
  font-size: 0.85rem;
  font-weight: 200;
  position: relative;
  left: 15px;
}

/* Button Section */
.button {
  background-color: rgb(86, 43, 129);
  color: white;
  text-align: center;
  padding: 0 10px;
  border: 1px hidden;
  border-radius: 5px;
  height: 30px;
}

.save-button {
  position: relative;
  top: 15px;
  margin-bottom: 30px;
}

/* Body */
body {
  font-family: sans-serif, monospace;
  font-weight: 600;
}

* {
  background-color: rgb(240, 240, 240);
}

label {
  line-height: 2.5;
}

textarea {
  font-family: sans-serif, monospace;
  font-weight: 500;
}

.current-page {
  justify-content: flex-start;
  align-items: center;
}

.current-title {
  font-size: 1.6rem;
  align-self: flex-start;
}

.text-input {
  border: 1px solid darkgrey;
  border-radius: 3px;
  background-color: white;
  width: 100%;
  line-height: 2;
  outline-color: rgb(86, 43, 129);
}

.notes {
  height: 100px;
  resize: none;
}

img {
  max-width: 100%;
  object-position: center;
  object-fit: contain;
  margin-bottom: 20px;
}

/* Other Tools */
.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.centered {
  justify-content: center;
}

.full-flex {
  flex-basis: 100%;
}

.flex-basis-half {
  flex-basis: 50%;
}

@media screen and (min-width: 768px) {
  .header-positioning {
    position: relative;
    left: 320px;
  }

  .header-main {
    font-size: 1.3rem;
  }

  .header-sub {
    font-size: 1rem;
    left: 20px;
  }
}
